@model SchoolManagingSystem.Models.StudentAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
